[submodule ".vim/bundle/nerdtree.git"]
	path = home/.vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-fugitive.git"]
	path = home/.vim/bundle/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/powerline.git"]
	path = home/.vim/bundle/powerline.git
	url = https://github.com/Lokaltog/powerline.git
[submodule ".vim/bundle/vim-airline.git"]
	path = home/.vim/bundle/vim-airline.git
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-indent-guides.git"]
	path = home/.vim/bundle/vim-indent-guides.git
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-easymotion"]
	path = home/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
